/* begin Page */

/* Created by Artisteer v3.0.0.39952 */

#art-page-background-glare
{
  zoom: 1;
}

#art-page-background-glare-image
{
  position:absolute;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/page_gl.png',sizingMethod='crop')");
  zoom: 1;
}

img
{
  filter: expression(artFixPNG(this));
}

.cleared 
{
    width:1px;
}
/* end Page */

/* begin Box, Sheet */
.art-sheet, .art-sheet-body
{
  zoom: 1;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  font-size: 1px;
  background: none;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_s.png',sizingMethod='scale')");
}

.art-sheet-tl
{
  clip: rect(auto 33px 33px auto);
}

.art-sheet-tr
{
  left:expression(this.parentNode.offsetWidth-66+'px');
  clip: rect(auto auto 33px 33px);
}

.art-sheet-bl
{
  top: expression(this.parentNode.offsetHeight-66+'px');
  clip: rect(33px 33px auto auto);
}

.art-sheet-br
{
  top: expression(this.parentNode.offsetHeight-66+'px');
  left:expression(this.parentNode.offsetWidth-66+'px');
  clip: rect(33px auto auto 33px);
}

.art-sheet-tc, .art-sheet-bc
{
  width: expression(this.parentNode.offsetWidth-66+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_h.png',sizingMethod='scale')");
}

.art-sheet-tc
{
  clip: rect(auto auto 33px auto);
}

.art-sheet-bc
{
  top: expression(this.parentNode.offsetHeight-66+'px');
  clip: rect(33px auto auto auto);
}

.art-sheet-cr, .art-sheet-cl
{
  height: expression(this.parentNode.offsetHeight-66+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_v.png',sizingMethod='scale')");
}

.art-sheet-cr
{
  left:expression(this.parentNode.offsetWidth-66+'px');
  clip: rect(auto auto auto 33px);
}

.art-sheet-cl
{
  clip: rect(auto 33px auto auto);
}

.art-sheet-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-66+'px');
  height: expression(this.parentNode.offsetHeight-66+'px');
  background-color: #FFFFFF;
}
#art-page-background-top-texture, #art-page-background-middle-texture
{
  width: expression(document.body.clientWidth>1000?"100%":"1000px");
}

/* end Box, Sheet */

/* begin Menu */
.art-hmenu ul
{
  width: 1px;
  height: 1%;
}

.art-hmenu li.art-hmenuhover
{
  z-index: 10000;
}

.art-hmenu .art-hmenuhoverUL
{
  visibility: visible;
  top: 100%;
  left: 0;
}

.art-hmenu .art-hmenuhoverUL .art-hmenuhoverUL
{
  top: 0;
  left: 100%;
}

.art-hmenu, .art-hmenu ul a
{
  height: 1%;
}

.art-hmenu li li
{
  float: left;
  width: 100%;
}

.art-nav
{
  zoom: 1;
  height: 29px;
}

.art-nav-l, .art-nav-r
{
  font-size: 1px;
  height: 29px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/nav.png',sizingMethod='crop')");
}

.art-nav-l
{
  width: expression(this.parentNode.offsetWidth-20+'px');
}

.art-nav-r
{
  left: expression(this.parentNode.offsetWidth-992+'px');
  clip: rect(auto auto auto 972px);
}

/* end Menu */

/* begin MenuItem */
.art-hmenu a
{
  display:inline-block;
}

.art-hmenu a:hover, .art-hmenuhoverA {
	visibility:visible;
}

.art-hmenu a .r, .art-hmenu a .l
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/menuitem.png',sizingMethod='crop')");
}

.art-hmenu a .r
{
  left:100%;
  margin-left:-400px;
  clip: rect(auto auto auto 400px);
}

.art-hmenu a .l
{
  width: expression(this.parentNode.offsetWidth-0+'px');
}

.art-hmenuhover .art-hmenuhoverA .t
{
  color: #1A1A1A;
}

.art-hmenuhover .art-hmenuhoverA .l, .art-hmenuhover .art-hmenuhoverA .r
{
  top: -29px;
}
/* end MenuItem */

/* begin MenuSeparator */
.art-nav .art-hmenu-separator
{
  font-size: 1px;
  zoom: 1;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/menuseparator.png',sizingMethod='crop')");
}

/* end MenuSeparator */

/* begin MenuSubItem */
.art-hmenu ul a
{
  color: #303030 !important;
}

.art-hmenu ul a:hover {
  color: #000000 !important;
}	

.art-hmenu ul .art-hmenuhover .art-hmenuhoverA
{
  color: #000000 !important;
  border-color: #8C8C8C;
  background-position: 0 -38px;
}

.art-nav .art-hmenu ul a:hover span, .art-nav .art-hmenu ul a:hover span span
{
  color: #000000 !important;
}	

.art-nav .art-hmenu ul .art-hmenuhover .art-hmenuhoverA span, .art-nav .art-hmenu ul .art-hmenuhover .art-hmenuhoverA span span
{
  color: #000000 !important;
}

/* end MenuSubItem */

/* begin Layout */
.art-content-layout, .art-content-layout-row {display: block;}
.art-content-layout, .art-content-layout-row {zoom: 1;}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock, .art-vmenublock-body
{
  zoom: 1;
}

.art-vmenublock-tr, .art-vmenublock-tl, .art-vmenublock-br, .art-vmenublock-bl, .art-vmenublock-tc, .art-vmenublock-bc,.art-vmenublock-cr, .art-vmenublock-cl
{
  font-size: 1px;
  background: none;
}

.art-vmenublock-tr, .art-vmenublock-tl, .art-vmenublock-br, .art-vmenublock-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/vmenublock_s.png',sizingMethod='scale')");
}

.art-vmenublock-tl
{
  clip: rect(auto 19px 19px auto);
}

.art-vmenublock-tr
{
  left:expression(this.parentNode.offsetWidth-38+'px');
  clip: rect(auto auto 19px 19px);
}

.art-vmenublock-bl
{
  top: expression(this.parentNode.offsetHeight-38+'px');
  clip: rect(19px 19px auto auto);
}

.art-vmenublock-br
{
  top: expression(this.parentNode.offsetHeight-38+'px');
  left:expression(this.parentNode.offsetWidth-38+'px');
  clip: rect(19px auto auto 19px);
}

.art-vmenublock-tc, .art-vmenublock-bc
{
  width: expression(this.parentNode.offsetWidth-38+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/vmenublock_h.png',sizingMethod='scale')");
}

.art-vmenublock-tc
{
  clip: rect(auto auto 19px auto);
}

.art-vmenublock-bc
{
  top: expression(this.parentNode.offsetHeight-38+'px');
  clip: rect(19px auto auto auto);
}

.art-vmenublock-cr, .art-vmenublock-cl
{
  height: expression(this.parentNode.offsetHeight-38+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/vmenublock_v.png',sizingMethod='scale')");
}

.art-vmenublock-cr
{
  left:expression(this.parentNode.offsetWidth-38+'px');
  clip: rect(auto auto auto 19px);
}

.art-vmenublock-cl
{
  clip: rect(auto 19px auto auto);
}

.art-vmenublock-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-38+'px');
  height: expression(this.parentNode.offsetHeight-38+'px');
  background-color: #D3E8F3;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader
{
  zoom: 1;
}

.art-vmenublockheader .l, .art-vmenublockheader .r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/vmenublockheader.png',sizingMethod='crop')");
}

.art-vmenublockheader .r
{
  left:expression(this.parentNode.offsetWidth-992+'px');
  clip: rect(auto auto auto 966px);
}

.art-vmenublockheader .l
{
  width: expression(this.parentNode.offsetWidth-26+'px');
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent, .art-vmenublockcontent-body
{
  zoom: 1;
}
.art-vmenublockcontent, .art-vmenublockcontent-body
{
  zoom: 1;
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.art-vmenu .art-vmenu-separator, ul.art-vmenu .art-vmenu-separator-span, ul.art-vmenu li.art-vsubmenu-separator, ul.art-vmenu .art-vsubmenu-separator-span
{
  zoom: 1;
  overflow: hidden;
  float: left;
  width: 100%;
}

ul.art-vmenu a:hover
{
  visibility: visible;
}

ul.art-vmenu li
{
  zoom:1;
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/vmenuitem.png',sizingMethod='crop')");
}

ul.art-vmenu a .r
{
  left:expression(this.parentNode.offsetWidth-1006+'px');
  clip: rect(auto auto auto 999px);
}

ul.art-vmenu a .l
{
  width: expression(this.parentNode.offsetWidth-7+'px');
}

/* end VMenuItem */

/* begin Box, Block */
.art-block, .art-block-body
{
  zoom: 1;
}

.art-block-tr, .art-block-tl, .art-block-br, .art-block-bl, .art-block-tc, .art-block-bc,.art-block-cr, .art-block-cl
{
  font-size: 1px;
  background: none;
}

.art-block-tr, .art-block-tl, .art-block-br, .art-block-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/block_s.png',sizingMethod='scale')");
}

.art-block-tl
{
  clip: rect(auto 19px 19px auto);
}

.art-block-tr
{
  left:expression(this.parentNode.offsetWidth-38+'px');
  clip: rect(auto auto 19px 19px);
}

.art-block-bl
{
  top: expression(this.parentNode.offsetHeight-38+'px');
  clip: rect(19px 19px auto auto);
}

.art-block-br
{
  top: expression(this.parentNode.offsetHeight-38+'px');
  left:expression(this.parentNode.offsetWidth-38+'px');
  clip: rect(19px auto auto 19px);
}

.art-block-tc, .art-block-bc
{
  width: expression(this.parentNode.offsetWidth-38+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/block_h.png',sizingMethod='scale')");
}

.art-block-tc
{
  clip: rect(auto auto 19px auto);
}

.art-block-bc
{
  top: expression(this.parentNode.offsetHeight-38+'px');
  clip: rect(19px auto auto auto);
}

.art-block-cr, .art-block-cl
{
  height: expression(this.parentNode.offsetHeight-38+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/block_v.png',sizingMethod='scale')");
}

.art-block-cr
{
  left:expression(this.parentNode.offsetWidth-38+'px');
  clip: rect(auto auto auto 19px);
}

.art-block-cl
{
  clip: rect(auto 19px auto auto);
}

.art-block-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-38+'px');
  height: expression(this.parentNode.offsetHeight-38+'px');
  background-color: #DEDEDE;
}
/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
  zoom: 1;
}

.art-blockheader .l, .art-blockheader .r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/blockheader.png',sizingMethod='crop')");
}

.art-blockheader .r
{
  left:expression(this.parentNode.offsetWidth-992+'px');
  clip: rect(auto auto auto 966px);
}

.art-blockheader .l
{
  width: expression(this.parentNode.offsetWidth-26+'px');
}
/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent, .art-blockcontent-body
{
  zoom: 1;
}
.art-blockcontent-body ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/blockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper, .art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  zoom: 1;
}

.art-button-wrapper .art-button
{
  float: left;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/button.png',sizingMethod='crop')");
}

.art-button-wrapper .art-button-r
{
  left:expression(this.parentNode.offsetWidth-409+'px');
  clip: rect(auto auto auto 401px);
}

.art-button-wrapper .art-button-l
{
  width: expression(this.parentNode.offsetWidth-8+'px');
}
/* end Button */

/* begin Box, Post */
.art-post, .art-post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostBullets */
.art-post ul li, .art-post ol ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/postbullets.png',sizingMethod='crop')");
  padding-left: 12px;
  /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}

.art-post ul ol li
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
  padding-left: 0;
  /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin PostQuote */
.art-postcontent blockquote
{
  height: 1%;
  background-image: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/postquote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin PostMetadata, PostMetadataFooter */
.art-postmetadatafooter
{
    zoom:1;
    }

/* end PostMetadata, PostMetadataFooter */

/* begin Footer */
.art-footer-body
{
    padding-right: 0;
  zoom:1;
}

.art-footer{
  zoom:1;
}

.art-footer-text
{
  height: 50px;
}

.art-footer-b 
{
  top: expression(this.parentNode.offsetHeight-50+'px');
  width: expression(this.parentNode.offsetWidth-40+'px');
  zoom: 1;
  font-size: 1px;
}

.art-footer-r, .art-footer-l
{
  top: expression(this.parentNode.offsetHeight-50+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/footer_s.png',sizingMethod='crop')");
  zoom: 1;
  font-size: 1px;
}

.art-footer-r
{
  left: expression(this.parentNode.offsetWidth-40+'px');
  clip: rect(auto auto auto 20px);
}

.art-footer-t
{
  zoom: 1;
  font-size: 1px;
  height: expression(this.parentNode.offsetHeight-50+'px');
  width: 100%;
}

.art-rss-tag-icon
{
  zoom: 1;
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/rssicon.png',sizingMethod='crop')");
}

/* end Footer */

/* begin LayoutCell, content */

.art-content {width: auto;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell {zoom:1;}

/* end LayoutCell, content */

